.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MovieApp {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

.MovieApp h1 {
  text-align: center;
}

.MovieApp .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.MovieApp .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: right;
}

.MovieApp .form-data input:not([type="submit"]) {
  flex-grow: 1;
}